<nav id="navigation" role="navigation">
	<div class="nav-customer">
		<div class="nav-customer_header-search">
			<div class="header-search-mobile_fieldset">
				<div class="header-mobile-toggle">
					<a class="header-mobile-toggle_link">
						<i class="header-mobile-toggle_icon hamburger-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						</i>
						<span class="visually-hidden">header.menu</span>
					</a>
				</div>
				<p class="lang"><span><a href="../homepage">EN</a></span> | <span class="active">TH</span></p>
			</div>
		</div>
	</div>
	<div class="nav-site navbar-default" data-spy="affix" data-offset-top="0">
		<div class="nav-site_header-search">
			<div class="header-search">
			<p class="lang"><span><a href="../homepage">EN</a></span> | <span class="active">TH</span></p>
		</div>
		</div>
		<div class="nav-site_categories">
			<ul class="level-1" data-toggle-group="">
				<li class="level-1_item view-all-link">
				<a class="level-1_link" data-action="Homepage" data-label="homepage" href="homepage">
					<span class="label-text">หน้าหลัก</span>
				</a>
				</li>
				<li class="level-1_item">
					<div class="level-1_label level-1_toggle" data-nav-toggle="">
						<span class="label-text">แบรนด์ของเรา</span><i class="fa fa-chevron-right"></i>
					</div>
					<a class=" desktop-link level-1_link" data-action="Our Brands" data-label="our-brands" href="our-brands">
						<span class="level-1_link-text">แบรนด์ของเรา</span><div class="level-1_hitbox"></div>
					</a>
					<div class="level-2" data-toggle-content="">
						<ul class="level-2_menu-horizontal level-2_list" data-toggle-group="">
						<li class="level-2_item view-all-link">
						<a class="level-2_link" data-action="Our Brands" data-label="our-brands" href="our-brands">
							<span class="label-text">หน้าหลัก แบรนด์ของเรา</span>
						</a>
						</li>
						<li class="level-2_item">
						<div class="level-2_label level-2_toggle" data-nav-toggle="">
							<span class="label-text">เครือข่ายร้านอาหาร</span><i class="fa fa-chevron-right"></i>
						</div>
						<a class="level-2_link desktop-link " data-action="Chain Restaurants" data-label="chain-restaurants" href="our-brands-chain-restaurants">เครือข่ายร้านอาหาร</a>
						<ul class="level-3" data-toggle-content="">
							<li class="level-3_item view-all-link">
								<a class="level-3_link" data-action="Chain Restaurants" data-label="chain-restaurants" href="our-brands-chain-restaurants">
									<span class="label-text">หน้าหลัก เครือข่ายร้านอาหาร</span>
								</a>
								</li>
								<li class="level-3_item">
									<a class="level-3_link" data-action="Kyochon" data-label="Kyochon" href="kyochon"><span class="label-text">เคียวโชน</span></a>
								</li>
								<li class="level-3_item">
									<a class="level-3_link" data-action="Domino’s Pizza" data-label="domino-s-pizza" href="domino-pizza"><span class="label-text">โดมิโน่ พิซซ่า</span></a>
								</li>
							</ul>
						</li>
						<li class="level-2_item">
						<div class="level-2_label level-2_toggle" data-nav-toggle="">
							<span class="label-text">ร้านอาหารเชิงไลฟ์สไตล์</span><i class="fa fa-chevron-right"></i>
						</div>
						<a class="level-2_link desktop-link " data-action="Lifestyle Restaurants" data-label="lifestyle-restaurants" href="our-brands-lifestyle-restaurants">ร้านอาหารเชิงไลฟ์สไตล์</a>
						<ul class="level-3" data-toggle-content="">
							<li class="level-3_item view-all-link">
								<a class="level-3_link" data-action="Lifestyle Restaurants" data-label="lifestyle-restaurants" href="our-brands-lifestyle-restaurants">
									<span class="label-text">หน้าหลัก ร้านอาหารเชิงไลฟ์สไตล์</span>
								</a>
								</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Bangkok Betty" data-label="bangkok-betty" href="bangkok-betty"><span class="label-text">แบ็งค็อก เบ็ตตี้</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Bon Bon" data-label="bon-bon" href="bon-bon"><span class="label-text">บอน บอน</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Clouds Bar" data-label="clouds-bar" href="clouds-bar"><span class="label-text">คลาวส์</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Fat Gut’z Saloon" data-label="fat-gut-z-saloon" href="fat-r-gut-z-saloon"><span class="label-text">แฟตกัตซ์</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Fat’R Gut’Z" data-label="fat-gut-z" href="fat-r-gut-z"><span class="label-text">แฟตเทอร์กัตซ์</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Maggie Choo’s" data-label="maggie-choo-s" href="maggie-choo"><span class="label-text">แมกกี้ ชูวส์</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Magnolia Bakery" data-label="magnolia-bakery" href="magnolia-bakery"><span class="label-text">แม็กโนเลีย เบเกอรี่</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="The Iron Fairies" data-label="the-iron-fairies" href="iron-fairies"><span class="label-text">ดิ ไอรอน แฟร์รี่</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Q’s Dining" data-label="q-s-dining" href="q-dining"><span class="label-text">คิวส์ ไดน์นิ่ง</span></a>
							</li>
						</ul>
						</li>
						<li class="level-2_item">
						<div class="level-2_label level-2_toggle" data-nav-toggle="">
							<span class="label-text">อุตสาหกรรมการบริการ</span><i class="fa fa-chevron-right"></i>
						</div>
						<a class="level-2_link desktop-link " data-action="Hospitality" data-label="hospitality" href="hospitality">อุตสาหกรรมการบริการ</a>
						<ul class="level-3" data-toggle-content="">
							<li class="level-3_item view-all-link">
								<a class="level-3_link" data-action="Hospitality" data-label="hospitality" href="hospitality">
									<span class="label-text">หน้าหลัก อุตสาหกรรมการบริการ</span>
								</a>
								</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Red Planet Hotels" data-label="red-planet-hotels" href="red-planet-hotels"><span class="label-text">เรด แพลเน็ต โฮเต็ลส์</span>
								</a>
							</li>
						</ul>
						</li>
						</div>
				</li>
				<li class="level-1_item">
					<div class="level-1_label level-1_toggle" data-nav-toggle="">
					<span class="label-text">นักลงทุนสัมพันธ์</span><i class="fa fa-chevron-right"></i>
					</div>
					<a class=" desktop-link level-1_link active" data-action="Investor Relations" data-label="investor-relations" href="investor-relations">
					<span class="level-1_link-text">นักลงทุนสัมพันธ์</span>
					<div class="level-1_hitbox"></div>
					</a>
					<div class="level-2" data-toggle-content="">
						<ul class="level-2_menu-horizontal level-2_list" data-toggle-group="">
							<li class="level-2_item view-all-link">
							<a class="level-2_link" data-action="Investor Relations" data-label="investor-relations" href="investor-relations">
								<span class="label-text">หน้าหลัก นักลงทุนสัมพันธ์</span>
							</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Stock News" data-label="Stock News" href="stock-news">
								ข่าวหุ้น
								</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Annual Report" data-label="Annual Report" href="annual-report">รายงานประจำปี</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link " data-action="Financial Statement" data-label="Financial Statement" href="financial-statement">รายงานทางการเงิน</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Form 56-1" data-label="Form 56-1" href="form-56">
								แบบฟอร์ม 56-1</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Management Discussion &amp; Analysis" data-label="Management Discussion &amp; Analysis" href="md-a">คำอธิบายและการวิเคราะห์</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="level-1_item">
					<a class="level-1_link" data-action="About Us" data-label="About Us" href="about-us">เกี่ยวกับเรา</a>
				</li>
				<li class="level-1_item">
					<a class="level-1_link" data-action="Contact Us" data-label="Contact Us" href="contact-us">ติดต่อเรา</a>
				</li>
				</ul>
			</div>
		</ul>
	</div>
</nav>