<nav id="navigation" role="navigation">
	<div class="nav-customer">
		<div class="nav-customer_header-search">
			<div class="header-search-mobile_fieldset">
				<div class="header-mobile-toggle">
					<a class="header-mobile-toggle_link">
						<i class="header-mobile-toggle_icon hamburger-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						</i>
						<span class="visually-hidden">header.menu</span>
					</a>
				</div>
				<p class="lang"><span class="active">EN</span> | <span><a href="th/homepage">TH</a></span></p>
			</div>
		</div>
	</div>
	<div class="nav-site navbar-default" data-spy="affix" data-offset-top="0">
		<div class="nav-site_header-search">
			<div class="header-search">
			<p class="lang"><span class="active">EN</span> | <span><a href="th/homepage">TH</a></span></p>
		</div>
		</div>
		<div class="nav-site_categories">
			<ul class="level-1" data-toggle-group="">
				<li class="level-1_item view-all-link">
				<a class="level-1_link" data-action="Home" data-label="home" href="homepage">
					<span class="label-text">Home</span>
				</a>
				</li>
				<li class="level-1_item">
					<div class="level-1_label level-1_toggle" data-nav-toggle="">
						<span class="label-text">Our Brands</span><i class="fa fa-chevron-right"></i>
					</div>
					<a class="desktop-link level-1_link" data-action="Our Brands" data-label="our-brands" href="our-brands">
						<span class="level-1_link-text">Our Brands</span><div class="level-1_hitbox"></div>
					</a>
					<div class="level-2" data-toggle-content="">
						<ul class="level-2_menu-horizontal level-2_list" data-toggle-group="">
						<li class="level-2_item view-all-link">
						<a class="level-2_link" data-action="Our Brands" data-label="our-brands" href="our-brands">
							<span class="label-text">Our Brands Main Page</span>
						</a>
						</li>
						<li class="level-2_item">
						<div class="level-2_label level-2_toggle" data-nav-toggle="">
							<span class="label-text">Chain Restaurants</span><i class="fa fa-chevron-right"></i>
						</div>
						<a class="level-2_link desktop-link " data-action="Chain Restaurants" data-label="chain-restaurants" href="our-brands-chain-restaurants">Chain Restaurants</a>
						<ul class="level-3" data-toggle-content="">
							<li class="level-3_item view-all-link">
								<a class="level-3_link" data-action="Chain Restaurants" data-label="chain-restaurants" href="our-brands-chain-restaurants">
									<span class="label-text">Chain Restaurants Main Page</span>
								</a>
								</li>

								<li class="level-3_item">
									<a class="level-3_link" data-action="Kyochon" data-label="Kyochon" href="kyochon"><span class="label-text">Kyochon</span></a>
								</li>
								<li class="level-3_item">
									<a class="level-3_link" data-action="Domino’s Pizza" data-label="domino-s-pizza" href="domino-pizza"><span class="label-text">Domino’s Pizza</span></a>
								</li>
							</ul>
						</li>
						<li class="level-2_item">
						<div class="level-2_label level-2_toggle" data-nav-toggle="">
							<span class="label-text">Lifestyle Restaurants</span><i class="fa fa-chevron-right"></i>
						</div>
						<a class="level-2_link desktop-link " data-action="Lifestyle Restaurants" data-label="lifestyle-restaurants" href="our-brands-lifestyle-restaurants">Lifestyle Restaurants</a>
						<ul class="level-3" data-toggle-content="">
							<li class="level-3_item view-all-link">
								<a class="level-3_link" data-action="Lifestyle Restaurants" data-label="lifestyle-restaurants" href="our-brands-lifestyle-restaurants">
									<span class="label-text">Lifestyle Restaurants Main Page</span>
								</a>
								</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Bangkok Betty" data-label="bangkok-betty" href="bangkok-betty"><span class="label-text">Bangkok Betty</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Bon Bon" data-label="bon-bon" href="bon-bon"><span class="label-text">Bon Bon</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Clouds Bar" data-label="clouds-bar" href="clouds-bar"><span class="label-text">Clouds Bar</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Fat Gut’z Saloon" data-label="fat-gut-z-saloon" href="fat-r-gut-z-saloon"><span class="label-text">Fat Gut’z Saloon</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Fat’R Gut’Z" data-label="fat-gut-z" href="fat-r-gut-z"><span class="label-text">Fat’R Gut’Z</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Maggie Choo’s" data-label="maggie-choo-s" href="maggie-choo"><span class="label-text">Maggie Choo’s</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Magnolia Bakery" data-label="magnolia-bakery" href="magnolia-bakery"><span class="label-text">Magnolia Bakery</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="The Iron Fairies" data-label="the-iron-fairies" href="iron-fairies"><span class="label-text">The Iron Fairies</span></a>
							</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Q’s Dining" data-label="q-s-dining" href="q-dining"><span class="label-text">Q’s Dining</span></a>
							</li>
						</ul>
						</li>
						<li class="level-2_item">
						<div class="level-2_label level-2_toggle" data-nav-toggle="">
							<span class="label-text">Hospitality</span><i class="fa fa-chevron-right"></i>
						</div>
						<a class="level-2_link desktop-link " data-action="Hospitality" data-label="hospitality" href="hospitality">Hospitality</a>
						<ul class="level-3" data-toggle-content="">
							<li class="level-3_item view-all-link">
								<a class="level-3_link" data-action="Hospitality" data-label="hospitality" href="hospitality">
									<span class="label-text">Hospitality Main Page</span>
								</a>
								</li>
							<li class="level-3_item">
								<a class="level-3_link" data-action="Red Planet Hotels" data-label="red-planet-hotels" href="red-planet-hotels"><span class="label-text">Red Planet Hotels</span>
								</a>
							</li>
						</ul>
						</li>
						</div>
				</li>
				<li class="level-1_item">
					<div class="level-1_label level-1_toggle" data-nav-toggle="">
					<span class="label-text">Investor Relations</span><i class="fa fa-chevron-right"></i>
					</div>
					<a class=" desktop-link level-1_link" data-action="Investor Relations" data-label="investor-relations" href="investor-relations">
					<span class="level-1_link-text">Investor Relations</span>
					<div class="level-1_hitbox"></div>
					</a>
					<div class="level-2" data-toggle-content="">
						<ul class="level-2_menu-horizontal level-2_list" data-toggle-group="">
							<li class="level-2_item view-all-link">
							<a class="level-2_link" data-action="Investor Relations" data-label="investor-relations" href="investor-relations">
								<span class="label-text">Investor Relations Main Page</span>
							</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Stock News" data-label="Stock News" href="stock-news">
								Stock News
								</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Annual Report" data-label="Annual Report" href="annual-report">Annual Report</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Financial Statement" data-label="Financial Statement" href="financial-statement">Financial Statement</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Form 56-1" data-label="Form 56-1" href="form-56">
								Form 56-1</a>
							</li>
							<li class="level-2_item">
								<a class="level-2_link" data-action="Management Discussion &amp; Analysis" data-label="Management Discussion &amp; Analysis" href="md-a">Management Discussion &amp; Analysis</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="level-1_item">
					<a class="level-1_link active" data-action="About Us" data-label="About Us" href="about-us">About Us</a>
				</li>
				<li class="level-1_item">
					<a class="level-1_link" data-action="Contact Us" data-label="Contact Us" href="contact-us">Contact Us</a>
				</li>
				</ul>
			</div>
		</ul>
	</div>
</nav>